@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.title {
    font-family: 'Grand Hotel', cursive;
    display: flex;
    width: 100vw;
    height: 5vh;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 25px;
}